<%- include("layout/header") %>

    <!-- main ends here -->
    <main>
        <h1>Hi, I am Golam Mostafa</h1>
        <p>Dhaka, Bangladesh</p>
    </main>
    <!-- main ends here -->

<%- include("layout/footer") %>